<aplz-ui-logo class="m-14" size="lg"></aplz-ui-logo>
<form [formGroup]="form" (ngSubmit)="login()">
  <fieldset>
    <h1 class="m-10">Iniciar sesión como comerciante</h1>
  </fieldset>
  <div class="pb-3 grid gap-8 mb-6">
    <div class="form-control mb-8">
      <label for="username" class="block mb-2 text-sm font-medium text-dark">
        Correo electrónico
      </label>
      <input
        type="text"
        id="username"
        class="mb-2 border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Escribe tu correo electrónico"
        formControlName="username"
        aplazoNoWhiteSpace
        aplazoLowercase
      />
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <small *ngIf="username.errors?.['required']"
          >El campo es requerido.</small
        >
        <small *ngIf="username.errors?.['email']"
          >Formato de correo electrónico inválido.</small
        >
      </div>
    </div>
    <div class="form-control">
      <label for="password" class="block mb-2 text-sm font-medium text-dark">
        Contraseña
      </label>
      <input
        type="password"
        id="password"
        class="mb-2 border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Escrube tu contrsaseña"
        formControlName="password"
      />

      <svg
        type="button"
        (click)="toggleShowPassword()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
        />
      </svg>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <small *ngIf="password.errors?.['required']"
          >El campo es requerido.</small
        >
      </div>
    </div>
  </div>
  <button
    aplzButton
    aplzAppearance="stroked"
    aplzColor="dark"
    size="md"
    type="submit"
    [rounded]="true"
    class="uppercase mt-8"
  >
    Iniciar Sesión
  </button>
</form>
